<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>NotificationApp</title>
        <script src="js/utils.js"></script>
    </h:head>
    <h:body onload="setTimezoneDates();">
        <h:form id="form">
            <p:growl 
                id="growl" 
                life="3000" />

            <p:poll 
                interval="60" 
                listener="#{notificationMB.refresh()}" 
                update="data_list_notifications, timeline"/>
            <p:poll 
                interval="60" 
                listener="#{timeLineMB.refresh()}" 
                update="data_list_notifications, timeline"/>

            <p:panel
                header="Marcações"
                id="panel_timeline">

                <pe:timeline 
                    axisOnTop="true"
                    eventStyle="box"
                    height="400px"
                    id="timeline"
                    minHeight="200"
                    showNavigation="true"
                    timeChangeable="false"
                    timeZone="#{timeLineMB.timeZone}"
                    value="#{timeLineMB.model}"
                    widgetVar="timelineWdgt"
                    zoomMax="#{timeLineMB.zoomMax}"
                    />

            </p:panel>

            <p:panel
                header="Avisos"
                id="panel_notifications">

                <p:calendar 
                    id="date_time" 
                    locale="pt"
                    mode="popup"
                    pattern="dd/MM/yyyy HH:mm" 
                    style="margin-left: 10px"
                    value="#{notificationMB.dateTime}"
                    />

                <p:spacer 
                    width="100%" 
                    height="10"/> 

                <p:dataList 
                    id="data_list_notifications"
                    emptyMessage="Sem notificações"
                    value="#{notificationMB.warnings}" 
                    var="warning">

                    <h:outputText 
                        value="#{warning}" /> 

                </p:dataList>
            </p:panel>
        </h:form>
    </h:body>
</html>
